<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../../stylesheets/style.css">

    <title>Actualizar Pelicula</title>
</head>
<body>
    
    <div class="container">

        <div class="col">
            <form action="/movies/update/<%= toEdit.id %>?_method=PUT" method="post">
            
                <label for="title">Título</label>
                <input type="text" name="title" value="<%= toEdit.title %>">
                
                <br>
                
                <label for="rating" min="0">Puntuación</label>
                <input type="number" name="rating" value="<%= toEdit.rating %>">

                <br>
                
                <label for="length" min="0">Duración</label>
                <input type="number" name="length" value="<%= toEdit.length %>">
                
                <br>
                
                <label for="awards">Premios</label>
                <input type="text" name="awards" value="<%= toEdit.awards %>">
                
                <br>
                
                <label for="genre_id">Géneros</label>
                <select name="genre_id">
                    <% generos.forEach(genero => { %>
                        <% if (toEdit.GenreId === genero.id) { %>
                            <option value="<%= genero.id %>" selected><%= genero.name %></option>
                        <% } else { %>
                            <option value="<%= genero.id %>"><%= genero.name %></option>
                        <% } %>
                        
                    <% }) %>
                </select>
                
                <br>
                
                <label for="actors">Actores</label>
                <select name="actors" multiple>
                    <% actores.forEach(actor => { %>
                        <% if (toEdit.actores.some(actorPelicula => actorPelicula.id === actor.id)) { %>
                            <option value="<%= actor.id %>" selected><%= actor.first_name %> <%= actor.last_name %></option>
                        <% } else { %>
                            <option value="<%= actor.id %>"><%= actor.first_name %> <%= actor.last_name %></option>  
                        <% } %>
                    <% }) %>
                </select>

                <br>

                <label for="release_date">Fecha de Lanzamiento</label>
                <input type="date" name="release_date" value="<%= toEdit.release_date %>">
                
                <br>
                
                <button type="submit">Registrar</button>
    
            </form>
        </div>

    </div>

</body>
</html>