<!DOCTYPE html>
<html>
	
	<%- include("partials/head") %> 
	  
  	<body>

		<%- include("partials/titulo") %> 

		<% if (typeof moviesFromGenre != 'undefined') { %>
			<div class="container col">
			
				<!-- Titulo -->
				<div class="container col" style="margin-right: 5%;">
					<h1>Películas de <%= genre %> </h1>
				</div>

				<div class="container col">
					<!-- Lista con los resultados de la busqueda -->
					<ul>
						<% moviesFromGenre.forEach(movie => { %>
							<li><a href="/movies/<%= movie.id %>"><%= movie.title %></a></li>
						<% }); %>
					</ul>
				</div>

			</div>
		<% } %>
		
		<% if (typeof genres != 'undefined') { %>
			<div class="container col">
			
				<!-- Titulo -->
				<div class="container col" style="margin-right: 5%;">
					<h1>Géneros</h1>
				</div>

				<div class="container col">
					<!-- Lista de todos los generos -->
					<ul>
						<% genres.forEach(genre => { %>
							<li><a href="/genres/<%= genre.id %>"><%= genre.name %></a></li>
						<% }); %>
					</ul>
				</div>
			</div>
		<% } %>

  	</body>
</html>