<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
      <ul>
        <li>Título: <%= list.title %></li>
        <li>Rating: <%= list.rating %></li>
        <li>Premios: <%= list.awards %></li>
        <li>Fecha de lanzamiento: <%= list.release_date %></li>
        <li>Duración: <%= list.length %></li>
      </ul>
      <button type="submit">BORRAR</button>
      <button type="submit">MODIFICAR</button>
  </body>
</html>