<!DOCTYPE html>
<html>
	
	<%- include("partials/head") %> 

  	<body>

		<%- include("partials/titulo") %> 

		<div class="container row">
			<ul>
				<li>Título: <%= list.title %></li>
				<li>Rating: <%= list.rating %></li>
				<li>Premios: <%= list.awards %></li>
				<li>Fecha de lanzamiento: <%= list.release_date %></li>
				<li>Duración: <%= list.length %></li>
			  </ul>
		</div>

      	<div class="container row">
      		
      		<form method="post" action="/movies/delete/<%= list.id %>?_method=DELETE">
      			<button type="submit">BORRAR</button>
      		</form>

			<button>
				<a href="/movies/edit/<%= list.id %> ">EDITAR</a>
			</button>

		</div>
      	
  	</body>
</html>