<!DOCTYPE html>
<html>

	<%- include('partials/head') %> 

  	<body>
		
		<%- include('partials/titulo') %> 

		<div class="container">

			<div class="col">
				<% recommended.forEach(pelis => { %>
					<ul>
						<li>Título: <%= pelis.title %></li>
						<li>Rating: <%= pelis.rating %></li>
						<li>Premios: <%= pelis.awards %></li>
						<li>Fecha de lanzamiento: <%= pelis.release_date %></li>
						<li>Duración: <%= pelis.length %></li>
					</ul>
				<% }) %>
			</div>
			
		</div>

  </body>
</html>